/*Accordian*/
body{
	background-color: #07083d;
}
 .accordion {
	
    width: 100%;
    background-color: #07083d;
}
.accordion .accordion-head {
    color: #fff;
    background-color: #07083d;
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 13px;
    font-size: 0.87em;
    cursor: pointer;
    overflow: hidden;
	
	
}
.accordion .accordion-head * {
    cursor: pointer;
	
}
.accordion .accordion-head h4 {
    float: left;
    
  padding: 10px;
  height: 30px;
}
.accordion .accordion-head:hover {
    filter: alpha(opacity=80);
    opacity: 0.80;
}
.accordion .accordion-body {
    border-bottom: 1px solid #fff;
    padding: 20px;
   
    display: none;
}
.arrow {
    float: right;
    width: 0px;
    height: 0px;
    margin-top: 23px;
    border: 10px solid transparent;
    margin-top: 21px;
    border-top-color: #F3F3F3;
}
.accordion-head.open .arrow {
    margin-top: 11px;
    border-bottom-color: #F3F3F3;
    border-top-color: transparent;
}

.accordion {
	
  margin: 0px;
  padding: 0;
  width: 200px;
  background-color: #07083d;
  position: fixed;
  height: 100%;

}

.accordion a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.accordion a.active {
  background-color: #04AA6D;
  color: white;
}

.accordion a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
 
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: black;
}


@media screen and (max-width: 700px) {
  .accordion {
    width: 50%;
    height: auto;
    position: relative;
  }
  .accordion a {float: left;}
  div.content {margin-left: 10;}
}

@media screen and (max-width: 400px) {
  .accordion a {
    text-align: center;
    float: none;
  }
}
border  {
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
.header {
  overflow: hidden;
  background-color: #120f0f;
  padding: 2px 5px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
 
  color: black;
}

.header a.active {
	margin-left:300px;
	margin-top:-10px;
	font-size:50px;
  
  color: white;
}

.header-right {
  margin-bottom: 0px;


}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }

 
}
.btn {
  border: none;
  background-color: inherit;
  padding: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {background: black;}

.success {color: white;}


form-group{
  forced-color-adjust: white;
  width: 50%;
}



 th,tr{

padding: 10px;

}

.text{

    color:red;

}
