* {
       margin: 0;
       padding: 0;
    }
	

	
	.navbar img{
		
  padding: 100px;
  width: 250px;
  margin-top:25px;
  margin-right: 800px;
  
		
		
	}
 
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: sticky;
        top: 0;
        cursor: pointer;
		height: 150px;
    }
 
    .background {
        background: #13024C;
        background-blend-mode: darken;
        background-size: cover;
    }
 
    .nav-list {
        width: 50%;
        display: flex;
        align-items: center;
    }
 
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
    .logo img {
        width: 50%;
        border-radius: 50px;
		
    }
 
    .nav-list li {
        list-style: none;
        padding: 10px;
		margin-left:120px;
		
    }
 
    .nav-list li a {
        text-decoration: none;
        color: white;
        font-size:20px;
    }
 
    .nav-list li a:hover {
        color: grey;
    }
 
    .rightnav {
		height: 300px;
		margin-left: 150px;
		padding:-150px;
        width: 75%;
        text-align: right;
    }
    .cloth,h2 {

        height: 200px;
		font-style:oblique;
		font-size:150px;
		margin-left: 300px;

    }
 
    #search {

		width:900px;
        padding: 20px;
        font-size: 17px;
        border: 10px solid rgb(2, 2, 80);
        border-radius: 40px;
        margin-left: -400px;
    }
    .img_1 img{
        width: 600px;
    }
 
    .firstsection {
		
        background-color: white;
        height: 100px;
		margin-top: -100px;
		float: left;
    }
 
    .secondsection {
        background-color: #13024C;
        height: 700px;
    }
 
    .box-main {
		
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        max-width: 80%;
        margin: auto;
        height: 80%;
    }
 
    .firsthalf {
		
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    .secondhalf {
        width: 30%;
    }
 
    .secondhalf img {
        width: 70%;
        border: 4px solid white;
        border-radius: 150px;
        display: block;
        margin: auto;
    }
 
    .text-big {
        font-family: 'Piazzolla', serif;
        font-weight: bold;
        font-size: 35px;
    }
 
    .text-small {
		margin-bottom:1000px;
		margin-left:700px;
        font-size: 30px;
		font-style:oblique;
    }
 
    .btn {
        padding: 8px 20px;
        margin: -35px -100px;
        border: 2px solid white;
        border-radius: 8px;
        background: none;
        color:  #13024C;
        cursor: pointer;
    }
 
    .btn-sm {
	
        padding: 6px 10px;
        vertical-align: middle;
        font-size:20px;
    }
 
    .section {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin: auto;
		background-color: #13024C;
		
    }
 
    .section-Left {
        flex-direction: row-reverse;
    }
 
    .paras {
        padding: 0px 65px;
    }
 
    .thumbnail img {
        width: 250px;
        border: 2px solid black;
        border-radius: 26px;
        margin-top: 19px;
    }
 
    .center {
        text-align: center;
    }
	
	
	.table, td, th {
		font-display:white;
		height: 30px;
		width: 1000px;
		text-align: center;
		margin-top:40px;
	
		
  
}
	.td, th {
		
		
		margin-left:300px;
		
		
		
	}
	.table {
		color:white;
  border-collapse: collapse;
  width: 50%;
}

    .text-footer {
        text-align: center;
        padding: 30px 0;
        font-family:sans-serif;
        display: flex;
        justify-content: center;
        color: black;
    }
	a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.button {

  
    
    background-color: #006969; /* Green */
    border: none;
    color: #fff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

